fastapi
uvicorn[standard]
sqlalchemy
pyodbc
sqlalchemy
alembic
pydantic
pydantic-settings
python-dotenv
python-jose
orjson
openpyxl
numpy
pandas
httpx
loguru
python-jose[cryptography]
passlib[bcrypt]
python-multipart
jinja2