{% extends "base.html" %}
{% block content %}
<h1>
    EOI Validation  Process 
</h1>
<div class="card-container">
    <div class="card">
        <h2>Applications</h2>
        <p>Manage EOI applications</p>
        <span>
            245
        </span>
    </div>
    <div class="card">
        <h2>Validation Queue</h2>
        <p>Pending Reviews</p>
        <span>
            53
        </span>
    </div>
    <div class="card">
        <h2>Auto Approved</h2>
        <p>Today</p>
        <span>
            128
        </span>
    </div>
    <div class="card">
        <h2>EOI Required</h2>
        <p>Requires Underwriting</p>
        <span>
            31
        </span>
    </div>
</div>

{% endblock %}